/*
Error: $color: 'theme-color("primary")' is not a color for `darken'
        on line 153 of ../../../static/scss/bootstrap/_variables.scss
        from line 1 of postman.scss

Backtrace:
../../../static/scss/bootstrap/_variables.scss:153
postman.scss:1
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/script/tree/funcall.rb:315:in `reformat_argument_error'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/script/tree/funcall.rb:162:in `rescue in _perform'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/script/tree/funcall.rb:131:in `_perform'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/script/tree/node.rb:50:in `perform'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/perform.rb:482:in `visit_variable'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/base.rb:36:in `visit'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/perform.rb:162:in `block in visit'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/stack.rb:79:in `block in with_base'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/stack.rb:135:in `with_frame'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/stack.rb:79:in `with_base'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/perform.rb:162:in `visit'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/perform.rb:329:in `map'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/perform.rb:329:in `block in visit_import'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/stack.rb:88:in `block in with_import'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/stack.rb:135:in `with_frame'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/stack.rb:88:in `with_import'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/perform.rb:326:in `visit_import'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/base.rb:36:in `visit'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/perform.rb:162:in `block in visit'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/stack.rb:79:in `block in with_base'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/stack.rb:135:in `with_frame'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/stack.rb:79:in `with_base'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/perform.rb:162:in `visit'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/base.rb:52:in `block in visit_children'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/base.rb:52:in `map'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/base.rb:52:in `visit_children'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/perform.rb:171:in `block in visit_children'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/perform.rb:183:in `with_environment'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/perform.rb:170:in `visit_children'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/base.rb:36:in `block in visit'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/perform.rb:190:in `visit_root'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/base.rb:36:in `visit'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/perform.rb:161:in `visit'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/visitors/perform.rb:10:in `visit'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/root_node.rb:36:in `css_tree'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/tree/root_node.rb:29:in `render_with_sourcemap'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/engine.rb:389:in `_render_with_sourcemap'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/engine.rb:307:in `render_with_sourcemap'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/plugin/compiler.rb:462:in `update_stylesheet'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/plugin/compiler.rb:209:in `each'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/plugin/compiler.rb:209:in `update_stylesheets'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/plugin.rb:82:in `update_stylesheets'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/exec/sass_scss.rb:340:in `watch_or_update'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/exec/sass_scss.rb:51:in `process_result'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/exec/base.rb:52:in `parse'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/lib/scss/exec/base.rb:19:in `parse!'
/home/michael/.gem/ruby/2.5.0/gems/scss-3.5.6/bin/scss:13:in `<top (required)>'
/home/michael/.gem/ruby/2.5.0/bin/scss:23:in `load'
/home/michael/.gem/ruby/2.5.0/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: $color: 'theme-color(\"primary\")' is not a color for `darken'\A         on line 153 of ../../../static/sass/bootstrap/_variables.scss\A         from line 1 of postman.scss"; }
