{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load postman %}

<div id="formWrapper" class="mt-4 p-2">
    {% block form %}
        <form id="postmanAjaxForm" action='{% url 'postman:process_message' %}' class="postman-form" method="post">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-12 col-lg-6">
                    <label for="id_first_name">
                        {{ form.first_name.label }}
                    </label>
                    {{ form.first_name }}
                    {% if form.errors.first_name %}
                        <small class="form-text text-danger">
                            {{ form.errors.first_name.0 }}
                        </small>
                    {% endif %}
                </div>
                <div class="col-12 col-lg-6">
                    <label for="id_last_name">
                        {{ form.last_name.label }}
                    </label>
                    {{ form.last_name }}
                    {% if form.errors.last_name %}
                        <small class="form-text text-danger">
                            {{ form.errors.last_name.0 }}
                        </small>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12 col-lg-6">
                    <label for="id_email">
                        {{ form.email.label }}
                    </label>
                    {{ form.email }}
                    {% if form.errors.email %}
                        <small class="form-text text-danger">
                            {{ form.errors.email.0 }}
                        </small>
                    {% endif %}
                    <small id="emailHelp" class="form-text text-muted small">
                        {% trans "We'll never share your email with anyone else." %}
                    </small>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="id_telephone">
                        {{ form.telephone.label }}
                    </label>
                    {{ form.telephone }}
                    {% if form.errors.telephone %}
                        <small class="form-text text-danger">
                            {{ form.errors.telephone.0 }}
                        </small>
                    {% endif %}
                    <small id="phoneHelp" class="form-text text-muted small">
                        {% trans "We'll never share your phone with anyone else." %}
                    </small>
                </div>
            </div>

            <div class="form-group row message">
                <div class="col-12">
                    <label for="id_message">
                        {{ form.message.label }}
                    </label>
                    {{ form.message }}
                    {% if form.errors.message %}
                        <small class="form-text text-danger">
                            {{ form.errors.message.0 }}
                        </small>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">

            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="d-block">
                            {{ form.captcha.label }} *
                        </label>
                        <div class="d-flex">
                            {{ form.captcha }}
                        </div>
                        {% if form.errors.captcha %}
                            <small class="form-text text-danger">
                                {{ form.errors.captcha.0 }}
                            </small>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="custom-control custom-checkbox">
                        {{ form.privacy_accepted }}
                        <label class="custom-control-label" for="id_privacy_accepted">
                            {% privacy_link_label form.privacy_accepted.label %}
                        </label>
                        {% if form.errors.privacy_accepted %}
                            <small class="form-text text-danger">
                                {{ form.errors.privacy_accepted.0 }}
                            </small>
                        {% endif %}
                    </div>
                    <div class="form-group mt-4 text-right">
                        <button type="submit" class="btn btn-primary" id="submitButton">
                            {% trans 'Send' %} <i id="mail-status" class="fa fa-envelope"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    {% endblock %}
</div>
